---
layout: barefooter
permalink: /
title: 戚晓东的研习笔记
subtitle: 探索量子世界
description: 戚晓东的研习笔记和个人简历。主要用于实时分享在新墨西哥大学量子信息与操控研究中心的研究学习过程中的心得与科研课题记录。
---

<div class="row">
 <!-- <span> -->
 <div class="col-md-8 col-sm-12">
  <div class="row">
      {% for post in site.posts limit:4 %}
      {% include postsummary.html %}
      {% endfor %}
  </div>
  <div class="row">
    <div style="font-weight:bold; text-align:center;font-size:1.2em;">
     全部文档分类：<i class="glyphicon glyphicon-chevron-left"></i> <a href="{{ site.baseurl }}/archives.html">按日期、 </a>
     <i class="glyphicon glyphicon-list"></i> <a href="{{ site.baseurl }}/categories.html">按目录、 </a>
     <i class="glyphicon glyphicon-tag"></i> <a href="{{ site.baseurl }}/tags.html">按标签</a>
    </div>
  </div>
     <br>
  <div class="row">
    <div class="col-md-2 col-sm-10">
      <div class="row">
        <ul class="unstyled">
          <li style="margin:-10px -65px"> <img alt="QR Code" src="{{ site.baseurl }}/assets/img/qrcode.33561508.png" align="left"></li>
        </ul>
      </div>
      <div class="row">Scan to load on your mobile device.</div>
    </div>
    <div class="col-md-8 col-sm-9">
        <br>
       <p style="text-align:left; align:center;font-size:1.2em;margin-left:45px;"><a href="{{ site.baseurl }}/CV-XiaodongQi.pdf" onclick="var that=this;
       _gaq.push(['_trackEvent','Download','PDF',this.href]);
       setTimeout(function(){location.href=that.href;},200);
       return false;" class = "btn btn-default"><i class="fa fa-file-text-o fa-1x"></i>My CV in PDF.</a></p>
        <br>
       <div class="row">
        <ul class="unstyled" style="font-size:1.2em;line-height:1.5em; ">
          <li style="margin-left:6px"> Office: 30 Physics and Astronomy Department</li>
          <li style="margin-left:6px">         1919 Lomas Blvd NE, Albuquerque, NM 87131, USA</li>
        </ul>
       </div>
        <br>
       <div class="row" style="margin-left:26px">
           {% include socialbuttons_nostackexchangephy_nostarcount.html %}
           {% if site.repo %}<iframe class="github-btn" src="//ghbtns.com/github-btn.html?user={{site.orgname}}&repo={{site.repo}}&type=star&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="90px" height="40px" style="vertical-align:middle; margin-top:17px;"></iframe>{% endif %}
       </div>
     <!-- <br><br><br> -->
    </div>
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-sm-block visible-md-block"></div>
  </div>
 </div>
 <!-- </span> -->


 <div class="col-md-4 col-sm-12">

  <b>戚晓东</b> (<span font="sans-serif">Xiaodong Qi</span>)<br>

  <div class="team-member">
  <img class="img-responsive img-circle" alt="" src="{{ site.baseurl }}/assets/img/qi2016.jpg" align="right" width=200px>
  </div>

  我是新墨西哥大学(<a href="http://www.unm.edu">UNM</a>)量子信息和操控研究中心(<a href="http://cquic.org">CQuIC</a>)的博士研究生。
  现师从于<a href="http://cquic.unm.edu/deutsch-group/">Ivan Deutsch</a>教授，学习量子光学和量子信息理论。
  <br>
  我的研究兴趣本质上聚焦于信息处理的物理本质和实现。这也是我所理解的有助于解决一些包括能源、材料和社会等现今技术无法或者无法有效模拟预测的复杂问题的一大理论基础。
  作为一个理想的研究平台，我实际的理论科学研究立足于一些原子及微观系统。这些系统通常都是在实验室可控、可测量的。我也通过跟我们的实验合作者们通过紧密合作实验验证这些有潜力推而广之的理论想法。
  <br>
  除此之外，我同样致力于理解物理和现实世界的本质和运行之道。我希望这能有助于我不断调整未来的研究重点以避免陷入一些没必要的细枝末节，并有助于我在实践中全面检验我在研究学习中形成的哲学和方法论思想。
  我们常说理论来自于实践，实践是检验理论的唯一标准。我希望这两方面的关注点已经形成了一个认知和实践不断螺旋上升的完整循环，并促使我脚踏实地、密切联系具有各种背景的人，并在社会实践中应用科学理论，实现自己的人生价值。
  <br>
  本站所贴之内容均是来自于我在学习和生活中的所思所感。鉴于读者群体的不同，本中文站点侧重于对社会和一般科学研究、哲学思想的思考，而<a href="{{site.url}}/en/">英文站点</a>侧重于对我的科学研究和研究工具的记录。
  这些算是对我自己学习思考内容的个人记录，也希望对你有些许的启发价值。

     <a class="twitter-timeline" href="https://twitter.com/{{site.author.twitter}}" data-widget-id="704862944484421633" data-chrome="transparent noborders noscrollbar" height="350px">Tweets by @{{site.author.twitter}}</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 </div>
</div>
<!-- Add the extra clearfix for only the required viewport -->
<div class="clearfix visible-md-block"></div>
<hr>
<div class="row" style="margin:-10px 0 10px; align:center; vertical-align:middle; clear:both;">
  <!-- <div class="span12" align="center" vertical-align="middle"> -->
  <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        <span align="center" margin-top="-10px">版权所有 &copy; {{ site.time | date: "%Y" }} {{ site.author.name }}。如无特殊说明，内容可按照以下协议免费使用：Creative Commons Attribution License. </span></a>
  {% include coins.html %}
  <!-- </div> -->
  <br>
</div>
