       <footer class="footer">
         <div class="row">
            <div class="span6">

              {% include socialbuttons.html %}
              <p><a href="{{ site.baseurl }}/CV-XiaodongQi.pdf">戚晓东的履历</a></p>
              <h4><a property="account" href="https://twitter.com/{{site.author.twitter}}" onclick="recordOutboundLink(this, 'Outbound Links', 'Twitter'); return false;"><i class="icon-twitter"></i> Discussing </a></h4>
              <div class="excerpt">
                <div class="scroll">
                  {% twitter_feed i2000s, 5 %}
                </div>
              </div>
            </div>

            <div class="span4">
              <div class="team-member">
              <img class="img-responsive img-thumbnail img-circle" width="200px" alt="" src="{{ site.baseurl }}/assets/img/qi2016.jpg" align="middle"></img>

              </div>
                <a rel="license" href="https://creativecommons.org/licenses/by/3.0/deed.en_US">
                  <img alt="Creative Commons License" style="border-width:0" align="right" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
                  <br /><p>版权所有 &copy; {{ site.time | date: "%Y" }} {{ site.author.name }}.</p>
                  <span xmlns:dct="https://purl.org/dc/terms/" property="dct:title">如无特说说明，本站内容可按照以下协议免费使用：</span> <a rel="license" href="https://creativecommons.org/licenses/by/4.0">Creative Commons Attribution License</a>.
            </div>
        </div>
      </footer>
    </div><!-- /container -->

    {% include javascript.html %}
  </body>
</html>
