

  {% include header.html %}

      <div class="row">
        <div class="span10">
          {{ content }}
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox">Share on</div>
        </div>


        <!-- Custom sidebar -->
        <div class="span2">
          <div class="sidebar">
            发布于
            <time pubdate datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>. <br>
            <span itemprop="keywords">
            {% for tag in page.tags %}
              <a rel="tag" class="tag" href="{{ site.baseurl }}/tags.html#{{ tag | cgi_escape }}-tag">#{{ tag }}</a>
              {% unless page.tags.last == tag %}, {% endunless %}
            {% endfor %}
            </span>
            <div style="font-weight:bold; text-align:center;font-size:0.9em;">
             所有笔记分类：<i class="icon-chevron-left"></i> <a href="{{ site.baseurl }}/archives.html">按目录、 </a>
             <i class="icon-list"></i> <a href="{{ site.baseurl }}/categories.html">按日期、 </a>
             <i class="icon-tag"></i> <a href="{{ site.baseurl }}/tags.html">按标签</a>
            </div>
          </div>
        </div>
      </div>

  {% include disqus.html %}
  {% include footer.html %}
